# Impoting Data

In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import seaborn as sb

In [2]:
df = pd.read_csv("C:/Users/Rahul Kapoor/OneDrive/Desktop/Udemy/StartTech/Data Files/4. ST Academy - SVM resource files/Movie_classification.csv",header = 0)

In [3]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
 18  Start_Tech_Oscar     506 non-null    int64
dtypes: float64(12), int64(5), object(2)
memory usage: 75.2+ KB

# Missing Value Imputation

In [5]:
df["Time_taken"].mean()

157.39149797570855

In [6]:
df["Time_taken"].fillna(value = df["Time_taken"].mean(),inplace = True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           506 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
 18  Start_Tech_Oscar     506 non-null    int64
dtypes: float64(12), int64(5), object(2)
memory usage: 75.2+ KB

# Dummy Variable Creation

In [8]:
df = pd.get_dummies(df, columns = ["3D_available", "Genre"],drop_first=True)

In [9]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,...,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,...,109.60,223.840,23,494,48000,1,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,...,146.64,243.456,42,462,43200,0,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,...,147.88,2022.400,38,458,69400,1,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,...,185.36,225.344,45,472,66800,1,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,...,176.48,225.792,55,395,72400,1,0,0,1,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  Time_taken           506 non-null    float64
 12  Twitter_hastags      506 non-null    float64
 13  Avg_age_actors       506 non-null    int64
 14  Num_multiplex        506 non-null    int64
 15  Collection           506 non-null    int64
 16  Start_Tech_Oscar     506 non-null    int64
 17  3D_available_YES     506 non-null    uint8
 18  Genre_Comedy         506 non-null    uint8
 19  Genre_Drama          506 non-null    uint8
 20  Genre_Thriller       506 non-null    uint8
dtypes: float64(12), int64(5), uint8(4)
memory usage: 69.3 KB

# X-Y Split

In [11]:
X = df.loc[: , df.columns != "Start_Tech_Oscar"]
type(X)

pandas.core.frame.DataFrame

In [12]:
X.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,48000,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,43200,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,69400,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,66800,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,72400,0,0,1,0

In [24]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  Time_taken           506 non-null    float64
 12  Twitter_hastags      506 non-null    float64
 13  Avg_age_actors       506 non-null    int64
 14  Num_multiplex        506 non-null    int64
 15  Collection           506 non-null    int64
 16  3D_available_YES     506 non-null    uint8
 17  Genre_Comedy         506 non-null    uint8
 18  Genre_Drama          506 non-null    uint8
 19  Genre_Thriller       506 non-null    uint8
dtypes: float64(12), int64(4), uint8(4)
memory usage: 65.4 KB

In [25]:
X.shape

(506, 20)

In [14]:
Y = df["Start_Tech_Oscar"]

In [23]:
type(Y)

pandas.core.series.Series

In [19]:
Y.head()

0    1
1    0
2    1
3    1
4    1
Name: Start_Tech_Oscar, dtype: int64

In [21]:
Y.shape

(506,)

# Test - Train Split

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, Y_train, Y_test = train_test_split(X , Y , test_size = 0.2 , random_state = 0)

In [28]:
X_train.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
220,27.1618,67.40,0.493,38612.805,162.0,8.485,8.640,8.485,8.670,8.52,480270,174.68,224.272,23,536,53400,0,0,0,1
71,23.1752,76.62,0.587,33113.355,91.0,7.280,7.400,7.290,7.455,8.16,491978,200.68,263.472,46,400,43400,0,0,0,0
240,22.2658,64.86,0.572,38312.835,127.8,6.755,6.935,6.800,6.840,8.68,470107,204.80,224.320,24,387,54000,1,1,0,0
6,21.7658,70.74,0.476,33396.660,140.1,7.065,7.265,7.150,7.400,8.96,459241,139.16,243.664,41,522,45800,1,0,0,1
417,538.8120,91.20,0.321,29463.720,162.6,9.135,9.305,9.095,9.165,6.96,302776,172.16,301.664,60,589,20800,1,0,0,0

In [29]:
X_train.shape

(404, 20)

In [30]:
X_test.shape

(102, 20)

# Standardizing Data

In [31]:
from sklearn.preprocessing import StandardScaler

In [32]:
sc = StandardScaler().fit(X_train)

In [33]:
X_train_std = sc.transform(X_train)

In [34]:
X_test_std = sc.transform(X_test)

In [35]:
X_test_std

array([[-0.40835869, -1.12872913,  0.83336883, ...,  1.50268577,
        -0.48525664, -0.75225758],
       [ 0.71925111,  0.9988844 , -0.65283979, ...,  1.50268577,
        -0.48525664, -0.75225758],
       [-0.40257488,  0.39610829,  0.05115377, ...,  1.50268577,
        -0.48525664, -0.75225758],
       ...,
       [-0.3982601 , -0.85812418,  0.89420778, ..., -0.66547513,
        -0.48525664,  1.3293319 ],
       [-0.39934279, -0.07637654,  0.58132175, ...,  1.50268577,
        -0.48525664, -0.75225758],
       [-0.40088071, -0.36702631,  0.31189212, ..., -0.66547513,
        -0.48525664, -0.75225758]])

In [36]:
from sklearn import svm

In [37]:
clf_svm_1 = svm.SVC(kernel = "linear" , C=0.01)
clf_svm_1.fit(X_train_std , Y_train)

SVC(C=0.01, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

# Predicting values using Trained Model

In [38]:
Y_train_pred = clf_svm_1.predict(X_train_std)
Y_test_pred = clf_svm_1.predict(X_test_std)

In [39]:
Y_test_pred

array([1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0], dtype=int64)

# Model Performance

In [40]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [44]:
confusion_matrix(Y_test, Y_test_pred)

array([[11, 33],
       [ 5, 53]], dtype=int64)

In [45]:
accuracy_score(Y_test,Y_test_pred)

0.6274509803921569

In [47]:
clf_svm_1.support_

array([  3,   6,  10,  15,  18,  22,  24,  25,  28,  29,  30,  31,  32,
        36,  39,  41,  43,  46,  49,  51,  52,  53,  54,  55,  56,  58,
        64,  66,  68,  70,  73,  74,  77,  78,  79,  81,  88,  89,  90,
        91,  92,  93,  94,  96,  98, 101, 102, 103, 105, 107, 108, 112,
       115, 120, 121, 125, 127, 130, 132, 133, 135, 138, 141, 149, 150,
       151, 152, 153, 156, 157, 158, 159, 162, 166, 167, 168, 169, 175,
       177, 179, 186, 187, 189, 190, 193, 195, 196, 197, 198, 200, 202,
       204, 209, 210, 211, 213, 216, 218, 220, 221, 224, 225, 227, 228,
       229, 231, 232, 233, 234, 241, 242, 243, 245, 248, 249, 250, 251,
       252, 253, 254, 259, 261, 263, 264, 265, 269, 273, 274, 278, 282,
       286, 288, 290, 292, 296, 298, 302, 304, 306, 307, 312, 314, 315,
       316, 318, 321, 326, 329, 330, 331, 333, 335, 336, 338, 340, 342,
       343, 350, 353, 354, 361, 362, 363, 364, 367, 368, 369, 370, 371,
       372, 373, 376, 378, 380, 381, 382, 383, 384, 386, 387, 389, 391,
       398, 400, 401, 403,   0,   1,   2,   4,   5,   7,   9,  11,  13,
        14,  16,  17,  19,  21,  23,  26,  27,  33,  34,  35,  37,  38,
        40,  42,  45,  47,  48,  50,  57,  59,  60,  61,  63,  67,  69,
        71,  72,  75,  76,  80,  82,  83,  84,  87,  95,  99, 100, 104,
       106, 109, 110, 111, 113, 114, 116, 118, 119, 122, 123, 124, 126,
       128, 129, 131, 134, 136, 140, 143, 145, 146, 147, 154, 155, 160,
       161, 163, 164, 165, 170, 171, 172, 173, 174, 176, 178, 180, 181,
       182, 183, 185, 188, 191, 192, 194, 199, 201, 203, 205, 206, 207,
       208, 212, 214, 215, 217, 219, 222, 223, 226, 230, 235, 237, 238,
       239, 240, 244, 246, 247, 255, 256, 257, 258, 260, 266, 267, 270,
       271, 272, 275, 276, 277, 279, 281, 283, 285, 287, 289, 291, 297,
       299, 301, 303, 305, 308, 309, 310, 311, 313, 317, 319, 322, 323,
       325, 327, 328, 332, 334, 337, 339, 341, 346, 347, 348, 349, 351,
       352, 355, 356, 357, 358, 359, 360, 365, 366, 374, 375, 377, 379,
       385, 388, 390, 392, 393, 394, 395, 396, 397, 399, 402])

In [48]:
clf_svm_1.n_support_

array([186, 189])

# Hyper Parameter Tuning using Gridsearch

###### C is a hypermeter which is set before the training model and used to control error and Gamma is also a hypermeter which is set before the training model and used to give curvature weight of the decision boundary

In [68]:
from sklearn.model_selection import GridSearchCV

In [74]:
params = {'C': [0.001,0.005,0.01,0.05,0.1,0.5,1,5,10,50,100,500,1000]}

In [75]:
clf_svm_1 = svm.SVC(kernel="linear")

In [76]:
svm_grid_lin = GridSearchCV(clf_svm_1 , params , n_jobs=-1 , cv = 10,verbose = 1, scoring="accuracy")

In [77]:
svm_grid_lin.fit(X_train_std,Y_train)

Fitting 10 folds for each of 13 candidates, totalling 130 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 130 out of 130 | elapsed:   32.2s finished

GridSearchCV(cv=10, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='linear', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'C': [0.001, 0.005, 0.01, 0.05, 0.1, 0.5, 1, 5, 10, 50,
                               100, 500, 1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=1)

In [79]:
svm_grid_lin.best_params_

{'C': 0.1}

In [80]:
svm_grid_lin.best_estimator_

SVC(C=0.1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [81]:
linsvm_clf = svm_grid_lin.best_estimator_

In [82]:
accuracy_score(Y_test, linsvm_clf.predict(X_test_std))

0.5980392156862745

# Polynomial kernel

In [83]:
clf_svm_2 = svm.SVC(kernel = "poly" , degree=2 , C=0.01)
clf_svm_2.fit(X_train_std , Y_train)

SVC(C=0.01, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=2, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [84]:
Y_train_pred = clf_svm_2.predict(X_train_std)
Y_test_pred = clf_svm_2.predict(X_test_std)

In [85]:
accuracy_score(Y_test , Y_test_pred)

0.5686274509803921

In [86]:
clf_svm_2.n_support_

array([186, 193])

# Radial Kernel

In [89]:
clf_svm_3 = svm.SVC(kernel = "rbf" , gamma=0.5 , C=10)
clf_svm_3.fit(X_train_std , Y_train)

SVC(C=10, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.5, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [91]:
Y_train_pred = clf_svm_3.predict(X_train_std)
Y_test_pred = clf_svm_3.predict(X_test_std)

In [92]:
accuracy_score(Y_test , Y_test_pred)

0.6176470588235294

In [93]:
clf_svm_3.n_support_

array([186, 218])

## hyper parameter tuning of the above model

In [101]:
param = {'C':(0.01,0.05,0.1,0.5,1,5,10,50) , 'gamma':(0.001,0.01,0.1,0.5,1)}

In [102]:
clf_svm_3 = svm.SVC(kernel = 'rbf')

In [105]:
svm_grid_rad = GridSearchCV(clf_svm_3, param, n_jobs=-1, cv = 3, verbose=1 , scoring='accuracy')

In [106]:
svm_grid_rad.fit(X_train_std,Y_train)

Fitting 3 folds for each of 40 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 105 out of 120 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:    0.2s finished

GridSearchCV(cv=3, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'C': (0.01, 0.05, 0.1, 0.5, 1, 5, 10, 50),
                         'gamma': (0.001, 0.01, 0.1, 0.5, 1)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=1)

In [107]:
svm_grid_rad.best_params_

{'C': 50, 'gamma': 0.001}

In [108]:
svm_grid_rad.best_estimator_

SVC(C=50, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.001, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [132]:
radsvm_clf = svm_grid_rad.best_estimator_

In [133]:
accuracy_score(Y_test,radsvm_clf.predict(X_test_std))

0.6176470588235294